@page
@model BookListRazor.CreateModel

@* Attempting a local style sheet *@
@section Styles { <link href="@Url.Content("~/css/BookListStyles.css")" rel="stylesheet" type="text/css" /> }

<h2 class="text-info my-4">Create New Book</h2>

<div id="container" class="border container p-5">

    <form method="post">

        @* *** ERROR MESSAGE *** 
           Add an error message if input does not match the model
           Controller level validation asp-validation-summary is a special
           error handling for asp core. *@
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        @* *** FORM INPUTS ***

           One row for each one, two, or three label entry pairs*@
        <div class="form-group row">

            @* Label entry pair *@
            <div class="col-2">
                <label asp-for="Book.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Name" class="form-control" />
            </div>

            @* Post the error next to the field if it does not meet the model's requirements. *@
            <span asp-validation-for="Book.Name" class="text-danger"></span>

        </div>

        @* One row for each one, two, or three label entry pairs*@
        <div class="form-group row">

            @* Label entry pair *@
            <div class="col-2">
                <label asp-for="Book.Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Author" class="form-control" />
            </div>

            @* Post the error next to the field if it does not meet the model's requirements. *@
            <span asp-validation-for="Book.Author" class="text-danger"></span>

        </div>

        @* One row for each one, two, or three label entry pairs*@
        <div class="form-group row">

            @* Label entry pair *@
            <div class="col-2">
                <label asp-for="Book.ISBN"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.ISBN" class="form-control" />
            </div>

            @* Post the error next to the field if it does not meet the model's requirements. *@
            <span asp-validation-for="Book.ISBN" class="text-danger"></span>

        </div>

        @* Submit button on a new row and in a new group for visual seperation *@
        <div class="form-group row">

            <div class="col-2 offset-2">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-2">
                @* Go back to the index using a link that looks like a button *@
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>

    </form>

</div>

@* Front end validation - We should check the model both front end and
   using isValid in the Post method.  This is front end and controller level.
   might want futher front end validation with JS/HTML and further logic
   in the controller for back end checking as well. *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}